body{
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.colour{
    color: orange;
}
.flexible-section{
    display: flex;
    margin-bottom: 150PX;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange,rgb(71, 83, 255));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    
}
.section-1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.section-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    padding-left: 20px;
    
}
.experiance-item h2{
    font-size: 40px;
}
.section-3{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#experience-one{
    border-left: 10px solid;
    border-image:linear-gradient( rgb(17, 0, 255),rgb(71, 227, 255));
    border-image-slice: 1;
}
#experience-two{
    border-left: 10px solid;
    border-image:linear-gradient( rgb(255, 81, 0),rgb(255, 71, 172));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}